{% include navbar.html %}

<header class="bg-[#386DC0] text-white py-8 text-center shadow-lg">
    <a href="{{ '/index.html' | relative_url }}" class="inline-block group">
        <img src="{{ '/images/camo-subaquatique.png' | relative_url }}" alt="Logo Club CAMO Subaquatique" class="mx-auto h-24 md:h-28 transition-transform group-hover:scale-105">
    </a>
    <div class="lang-fr">
        <p class="mt-2 text-md md:text-lg italic text-blue-100">Votre club de sports subaquatiques à Montréal</p>
    </div>
    <div class="lang-en" style="display:none;">
        <p class="mt-2 text-md md:text-lg italic text-blue-100">Your Underwater Sports Club in Montreal</p>
    </div>
</header>
