<header class="bg-[#386DC0] text-white py-8 text-center shadow-lg">
    <a href="{{ '/index.html' | relative_url }}">
        <img src="{{ '/images/camo-subaquatique.png' | relative_url }}" alt="Logo du Club CAMO Subaquatique à Montréal" class="mx-auto">
    </a>
    <div class="lang-fr">
        <p class="mt-1 text-md md:text-lg italic">Votre club de sports subaquatiques à Montréal</p>
        <p class="mt-1 text-md md:text-lg italic">Plongez dans l'action avec le hockey et le rugby subaquatiques !</p>
        <div class="mt-4">
            <a id="blog-link-fr" href="{{ '/blog.html?lang=fr' | relative_url }}" class="text-xl hover:underline font-semibold">Notre blog</a>
            <a href="{{ '/history.html' | relative_url }}" class="text-xl hover:underline font-semibold ml-4">Notre histoire</a>
            <a href="{{ '/mission.html' | relative_url }}" class="text-xl hover:underline font-semibold ml-4">Notre mission</a>
        </div>
    </div>
    <div class="lang-en" style="display:none;">
        <p class="mt-1 text-md md:text-lg italic">Your Underwater Sports Club in Montreal</p>
        <p class="mt-1 text-md md:text-lg italic">Dive into the Action with Underwater Hockey and Underwater Rugby!</p>
        <div class="mt-4">
            <a id="blog-link-en" href="{{ '/blog.html?lang=en' | relative_url }}" class="text-xl hover:underline font-semibold">Our Blog</a>
            <a href="{{ '/history.html' | relative_url }}" class="text-xl hover:underline font-semibold ml-4">Our History</a>
            <a href="{{ '/mission.html' | relative_url }}" class="text-xl hover:underline font-semibold ml-4">Our Mission</a>
        </div>
    </div>
</header>
