<!DOCTYPE html>
<html lang="{{ page.lang | default: 'fr' }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ '/assets/fontawesome/css/font-awesome.min.css' | relative_url }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="preload" as="image" href="{{ '/images/camo-subaquatique.png' | relative_url }}">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9V8Q4XJXLD"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-9V8Q4XJXLD');
    </script>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <link rel="alternate" type="application/rss+xml" title="Club CAMO - Flux RSS du blog" href="{{ '/blog_rss.xml' | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="Club CAMO - Flux RSS des événements" href="{{ '/events_rss.xml' | relative_url }}">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body class="bg-blue-700 text-white">
    {% include bubbles.html %}

    {{ content }}

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>
